# Automatically created by: scrapy startproject
#
# For more information about the [deploy] section see:
# https://scrapyd.readthedocs.org/en/latest/deploy.html

[settings]
default = bare.settings

# Project: scraper-001
[deploy]
url = https://dash.scrapinghub.com/api/scrapyd/
username = 674169128a8e4c8bb20ca59e1ebae264
password =
project = 30853
